/* Hero */

.hero {
  background: #2f303a;
}

.hero-title {
  color: var(--primary-wight-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.button.hero {
  color: var(--primary-wight-color);
  background-color: var(--accent-pick-color);
  text-decoration: none;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Advantages */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.features .title {
  color: var(--title-text-color);
}

/* Our-team */

.our-team .title {
  color: var(--title-text-color);
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
