/* Hero */

.hero-img {
  background-image: url(https://github.com/Kostyant1n/goit-markup-hw-03/blob/main/images/hero.jpg?raw=true);
  min-width: 1600px;
  min-height: 600px;
  min-left: 0px;
  min-top: 80px;
}

.hero {
  text-align: center;
  padding: 200px 452px;
}

.hero-title {
  color: var(--primary-wight-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* Button */

.button.hero {
  display: inline-block;
  color: var(--primary-wight-color);
  background-color: var(--accent-pick-color);
  text-decoration: none;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

/* Advantages */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

/* Features */

.features .title {
  color: var(--title-text-color);
}

/* Our-team */

.our-team .title {
  color: var(--title-text-color);
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 50px;
  margin-bottom: 0px;
}

.our-team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
